<div class="row-4 header header-group">
    <div class="col-md-4 logo">
      <span class="grey-color"> <</span>
      <span class="logo-name">{{developer}}</span>
      <span class="grey-color">/></span>
    </div>
  
    @if(!isMobile) {
    <div class="col-md-8 header-buttons">
      <div class="desktop-buttons">
        <button mat-button (click)="scroll('skills')">Skills</button>
        <button mat-button (click)="scroll('progress')">Proficiency</button>
        <button mat-button (click)="scroll('education')">Education</button>
        <button mat-button (click)="scroll('experiences')">Experiences</button>
        <button mat-button (click)="scroll('projects')">Projects</button>
        <button mat-button (click)="scroll('contact-me')">Contact me</button>
      </div>
    </div>
    }
    @else {
      <div class="col-xs-4 mobile-button fixed-top text-right">
        <button mat-button (click)="trigger()">
          @if(!sidenavState) {
            <mat-icon id="menuIcon">menu</mat-icon>
          }
          @else {
            <mat-icon id="menuIcon">close</mat-icon>
          }
        </button>
      </div>
    }
  </div>
  