.footer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 50px;
}

div p {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--footer);
}

.icon {
    font-size: 2em;
}