<div class="experiences-container">
  <h1 class="experiences-heading">Experiences</h1>
  <!-- <h1 class="experiences-heading">Ex</h1> -->
  <div class="row">
    @for(experience of experiences; track experience.company) {
    <div class="col-12 col-md-4">
      <mat-card class="experience-card">
        <mat-card-header>
          <mat-card-title>{{experience.company}}</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <div class="logo-container">
            <img [src]="experience.logoUrl" [alt]="experience.company + ' logo'">
          </div>
          <div>
            <mat-card-subtitle>{{experience.position}}</mat-card-subtitle>
            <mat-card-subtitle>{{experience.duration}}</mat-card-subtitle>
          </div>
          <p>{{experience.description}}</p>
          <ul>
            @for(detail of experience.details; track detail) {
            <li>{{detail}}</li>
            }
          </ul>
        </mat-card-content>
      </mat-card>
    </div>
    }
  </div>
</div>