.mat-card-header {
    display: flex;
    align-items: center;
}

.logo-container {
    transform: scale(1.8);
    margin: 18px 5px 0 10px;
}

.title-container {
    display: flex;
    flex-direction: column;
}

.projects-container h1 {
    line-height: 1.1;
    color: var(--title);
}

.project-row {
    margin-top: 20px;
}

.project-card {
    margin-bottom: 40px;
    transition: box-shadow 0.3s ease-in-out;
    width: 95%;
    height: 85%;
}

.project-link:hover {
    text-decoration: none;
}

.project-card:hover {
    box-shadow: 0 5px 9px rgba(0, 0, 0, 0.2);
}

.projects-container {
    margin: 100px 70px 100px 70px;
    padding: 20px;
    padding-top: 50px;
}

mat-card-title {
    font-size: 1.5em;
}

mat-card-subtitle {
    font-size: 1.1em;
    color: var(--subTitle);
}

mat-card-content p {
    margin: 5px 0;
}