<div class="main-content">
    <div class="row align-items-center">
        <div class="col-md-6 text-center text-md-left">
            <h1>Contact Me 
                <img alt="☎️" draggable="false" src="http://cdnjs.cloudflare.com/ajax/libs/twemoji/14.0.2/72x72/260e.png" style="height: 1em; width: 1em; margin: 0px 0.05em 0px 0.1em; vertical-align: -0.1em;">
            </h1>
            <p>Discuss a project or just want to say hi? My Inbox is open for all.</p>
            <div class="icon-list">
                <a href="https://www.linkedin.com/in/alexandru-tiberiu-vilcu-b8a98a1a0/" target="_blank"><i
                        class="fab fa-linkedin"></i></a>
                <a href="https://www.typescriptlang.org" target="_blank"><i class="fas fa-envelope"></i></a>
            </div>
        </div>
        <div class="col-md-6 text-center">
            <ng-lottie [options]="options"></ng-lottie>
        </div>
    </div>
</div>