<div class="main-content">
    <div class="row align-items-center">
        <div class="col-md-6 text-center text-md-left">
            <h1>Contact Me 
                <img alt="☎️" draggable="false" src="http://cdnjs.cloudflare.com/ajax/libs/twemoji/14.0.2/72x72/260e.png">
            </h1>
            <div class="details">
                <p>Discuss a project or just want to say hi? My Inbox is open for all.</p>
                <a [href]="tel()" class="contact-mobile"><h2>{{details.mobile}}</h2></a>
                <a [href]="mailTo()" class="contact-mail"><h2>{{details.email}}</h2></a>
            </div>
            <div class="icon-list">
                <a href="https://www.linkedin.com/in/alexandru-tiberiu-vilcu-b8a98a1a0/" target="_blank" style="color: var(--linkedin);">
                    <i class="fab fa-linkedin"></i>
                </a>
                <a href="https://github.com/Alex-also-Tiberiu" target="_blank" style="color: var(--github);">
                    <i class="fab fa-github"></i>
                </a>
                <!-- <a href="https://www.facebook.com/Alex.tiberiu.vilcu" target="_blank" style="color: var(--faceBook);">
                    <i class="fab fa-facebook"></i>
                </a> -->
                <a href="https://thesis.unipd.it/handle/20.500.12608/44042" target="_blank" style="color: var(--graduation);">
                    <i class="fas fa-graduation-cap"></i>
                </a>
                <a [href]="mailTo()">
                    <i class="fas fa-envelope"></i>
                </a>
            </div>
        </div>
        <div class="col-md-6 text-center">
            <ng-lottie [options]="options"></ng-lottie>
        </div>
    </div>
</div>