.progress-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  margin: 100px 50px 100px 70px;
}

.bars {
  flex: 1;
  max-width: 50%;
}

.image {
  margin-left: 60px;
}

.image img {
  max-width: 100%;
  height: auto;
}

h1 {
  line-height: 1.1;
  color: var(--title);
}

mat-progress-bar {
  margin-top: 5px;
  margin-bottom: 20px;
}

.mat-mdc-progress-bar.mat-primary {
  --mdc-linear-progress-active-indicator-height: 15px !important;
  --mdc-linear-progress-track-height: 15px !important;
  border-radius: 10px !important;
}