<div class="what-i-do">
  <div class="row align-items-center">
    <div class="col-md-6 text-center">
      <!-- <img src="images/programmer2.svg" alt="Abstract Image" class="image"> -->
      <ng-lottie [options]="options"></ng-lottie>
    </div>
    <div class=" col-md-6 text text-center text-md-left">
      <h1>What I do</h1>
      <div class="subtitle">
        <p>COMPUTER ENGINEER WHO WANTS TO EXPLORE EVERY TECH STACK</p>
        <div class="row skills">          
          @for(skill of skills; track skill.name) {
            <div class="skill-container">
              @if(skill.link) {
                <a href="icon.link" target="_blank">
                  <i [class]="skill.class"></i>
                </a>
              }
              @else {
                <i [class]="skill.class"></i>
              }
              <div class="skill-name">{{ skill.name }}</div>
            </div>
          }
          @for(skill of skills_svg; track skill.path) {
            <div class="skill-container-svg">
              <img [src]="skill.path" [alt]="skill.alt" class="hover-svg">
              <!-- <svg width="64" height="64" class="hover-svg">
                <image [attr.xlink:href]="skill.path" width="64" height="64"></image>
              </svg> -->
              <div class="skill-name">{{skill.name}}</div>
            </div>
          }
        </div>
        <ul>
          <li>Develop highly interactive Front end / User Interfaces for your web and mobile applications</li>
          <li>Develop Rest applications using a strong and fast Back end in Spring Boot</li>
          <li>Progressive Web Applications (PWA) in normal and SPA Stacks</li>
          <li>Integration of third-party services such as AWS </li>
          <li>Extract and manipulate your data from database with Spring Batch</li>
        </ul>
      </div>
    </div>
  </div>
</div>