<div class="what-i-do">
    <div class="content">
      <img src="images/programmer.svg" alt="Abstract Image" class="image">
      <div class="text">
        <h2>What I do</h2>
        <p>CRAZY FULL STACK DEVELOPER WHO WANTS TO EXPLORE EVERY TECH STACK</p>
        <div class="skills">
          <i class="fab fa-js"></i>
          <i class="fab fa-angular"></i>
          <i class="fab fa-node"></i>
          <i class="fab fa-aws"></i>
          <i class="fab fa-python"></i>
          <a href="https://www.javascript.com" target="_blank"><i class="fab fa-js"></i></a>
          <a href="https://angular.io" target="_blank"><i class="fab fa-angular"></i></a>
          <a href="https://spring.io" target="_blank"><i class="fab fa-java"></i></a>
        </div>
        <ul>
          <li>Develop highly interactive Front end / User Interfaces for your web and mobile applications</li>
          <li>Progressive Web Applications (PWA) in normal and SPA Stacks</li>
          <li>Integration of third-party services such as Firebase/ AWS / Digital Ocean</li>
        </ul>
      </div>
    </div>
  </div>
  