<!-- <div class="example-container"> -->
<div>
  <mat-toolbar class="toolbar">
    <app-header (toggleSdNav)="sidenav.toggle()" [sidenavState]="sidenav.opened" ></app-header>
  </mat-toolbar>
  <mat-sidenav-container>
    <mat-sidenav #sidenav class="sidenav" fixedInViewport="false" mode="over" position="end" opened="false">
      <!-- Contenuto del sidenav -->
      <mat-nav-list>
        <a mat-list-item (click)="scroll('greetings'); sidenav.toggle()"><i class="fas fa-house"></i>Home</a>
        <a mat-list-item (click)="scroll('skills'); sidenav.toggle()"><i class="fas fa-microscope"></i>Skills</a>
        <a mat-list-item (click)="scroll('progress'); sidenav.toggle()"><i class="fas fa-chart-simple"></i>Proficiency</a>
        <a mat-list-item (click)="scroll('education'); sidenav.toggle()"><i class="fas fa-graduation-cap"></i>Education</a>
        <a mat-list-item (click)="scroll('experiences'); sidenav.toggle()"><i class="fas fa-building"></i>Experiences</a>
        <a mat-list-item (click)="scroll('projects'); sidenav.toggle()"><i class="fas fa-briefcase"></i>Projects</a>
        <a mat-list-item (click)="scroll('contact-me'); sidenav.toggle()"><i class="fas fa-phone"></i>Contact me</a>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
      <!-- Contenuto principale dell'applicazione -->

      <main class="fade-in">
        <app-greetings    id="greetings"></app-greetings>
        <app-skills       id="skills"></app-skills>
        <app-progress-bar id="progress"></app-progress-bar>
        <app-education    id="education"></app-education>
        <app-experiences  id="experiences"></app-experiences>
        <app-projects     id="projects"></app-projects>
        <app-contact-me   id="contact-me"></app-contact-me>
        <app-footer></app-footer>
        <router-outlet></router-outlet>
      </main>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>