<div class="main-content">
    <div class="row align-items-center">
        <div class="col-md-6 text-center text-md-left">
            <div class="greetings">
                <h1>{{title}}</h1>
                <p>{{subTitle}}</p>
            </div>
            <div class="icon-list">
                
                <span class="fa-stack fa-2x">
                    <a href="https://www.linkedin.com/in/alexandru-tiberiu-vilcu-b8a98a1a0/" target="_blank" style="color: var(--linkedin);">
                        <!-- <i class="fab fa-linkedin"></i> -->
                        <i class="far fa-circle fa-stack-2x"></i>
                        <i class="fab fa-linkedin fa-stack-1x"></i>
                    </a>                    
                </span>
                <span class="fa-stack fa-2x">
                    <a href="https://github.com/Alex-also-Tiberiu" target="_blank" style="color: var(--github);">
                        <!-- <i class="fab fa-github"></i> -->
                        <i class="far fa-circle fa-stack-2x" ></i>
                        <i class="fab fa-github fa-stack-1x"></i>
                    </a>
                </span>
                <!-- <a href="https://www.facebook.com/Alex.tiberiu.vilcu" target="_blank" style="color: var(--faceBook);">
                    <i class="fab fa-facebook"></i>
                </a> -->
                <span class="fa-stack fa-2x">
                    <a href="https://thesis.unipd.it/handle/20.500.12608/44042" target="_blank" style="color: var(--graduation);">
                        <!-- <i class="fas fa-graduation-cap"></i> -->
                        <i class="far fa-circle fa-stack-2x" ></i>
                        <i class="fas fa-graduation-cap fa-stack-1x"></i>
                    </a>
                </span>
                <span class="fa-stack fa-2x">
                    <a href="https://www.typescriptlang.org" target="_blank" style="color: var(--github);">
                        <!-- <i class="fas fa-envelope"></i> -->
                        <i class="far fa-circle fa-stack-2x" ></i>
                        <i class="fas fa-envelope fa-stack-1x"></i>
                    </a>
                </span>
                
            <!-- </div>
            <button class="btn" mat-raised-button color="primary" (click)="scrollToContactMe()">Contact Me</button>
            <button class="btn" mat-raised-button color="accent">Download My Resume</button> -->

            </div>
            <div class="row mt-4">
                <div class="col-lg-5 col-12 contact-me">
                    <button class="btn" mat-raised-button color="primary" (click)="scrollToContactMe()">Contact Me</button>
                </div>
                <div class="col-lg-7 col-12 mt-3 mt-lg-0 resume">
                    <button class="btn" mat-raised-button color="accent">Download My Resume</button>
                </div>
            </div>
        </div>
        <div class="col-md-6 text-center animation">
            <ng-lottie [options]="options" (animationCreated)="animationCreated($event)"></ng-lottie>
        </div>
    </div>
</div>