<div class="main-content">
    <div class="row align-items-center">
        <div class="col-md-6 text-center text-md-left" style="padding-left: 50px;">
            <div class="greetings">
                <h1>{{title}}</h1>
                <p>{{subTitle}}</p>
            </div>
            <div class="icon-list">
                <a href="https://www.linkedin.com/in/alexandru-tiberiu-vilcu-b8a98a1a0/" target="_blank"><i
                        class="fab fa-linkedin"></i></a>
                <a href="https://www.typescriptlang.org" target="_blank"><i class="fas fa-envelope"></i></a>
            </div>
            <button class="btn" mat-raised-button color="primary">Contact Me</button>
            <button class="btn" mat-raised-button color="accent">Download My Resume</button>
        </div>
        <div class="col-md-6 text-center">
            <ng-lottie [options]="options" (animationCreated)="animationCreated($event)"></ng-lottie>
        </div>
    </div>
</div>