.main-content {
    text-align: start;
    padding: 20px;
  }
  h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
  }
  p {
    font-size: 1.2em;
    margin-bottom: 20px;
  }
  .icon-list {
    margin-bottom: 20px;
  }
  .icon-list a {
    margin: 0 10px;
    font-size: 2em;
    color: #333;
    text-decoration: none;
  }
  .icon-list a:hover {
    color: #007bff;
  }
  button {
    margin: 10px;
  }