<div class="main-content">
    <h1>Hi all, I'm Alexandru</h1>
    <p>A passionate Full Stack Software Developer having an experience of building Web and Mobile applications with JavaScript / Angular / Spring Boot and some other cool libraries and frameworks.</p>
    <div class="icon-list">
        <a href="https://www.linkedin.com/in/alexandru-tiberiu-vilcu-b8a98a1a0/" target="_blank"><i class="fab fa-linkedin"></i></a>
        <a href="https://www.typescriptlang.org" target="_blank"><i class="fas fa-envelope"></i></a>
    </div>
    <button mat-raised-button color="primary">Contact Me</button>
    <button mat-raised-button color="accent">Download My Resume</button>
  </div>
  