:root {
    --buttonColor: #55198b;
    --buttonHover: #8c43ce;
    --topButtonHover: #000;
    --skillsColor: #645beb;
    --iconBackground: #333;

    --title: #000000;
    --subTitle: #868e96;
    --cardSubtitle: #666666;
    --talkCardSubTitle: #7f8287;

    --contactDetailHoverTS: #b5b5b5;

    --faceBook: #3b5998;
    --linkedin: #0e76a8;
    --github: #333;
    --graduation: #d83f31;

    --textColor: #000000;
    --footer: #868e96;
}