:root {
    --buttonColor: #55198b;
    --buttonHover: #8c43ce;
    --topButtonHover: #000;
    --skillsColor: #645beb;
    --iconBackground: #333;

    --title: #000000;
    --subTitle: #868e96;
    --cardSubtitle: #666666;
    --talkCardSubTitle: #7f8287;
}