@import '@angular/material/prebuilt-themes/deeppurple-amber.css';
@import "@fortawesome/fontawesome-free/css/all.css";
@import "global-colors.scss";

// body {
//   margin: 0;
//   font-family: Roboto, "Helvetica Neue", sans-serif;
// }

h1 {
  font-size: 3.5em;
}

// h2 {
//     font-size: 30px;
//     font-weight: 500;
//     margin-bottom: 20px;
//     color: #333;
// }

// h3 {
//     font-weight: 500;
//     margin-bottom: 20px;
//     color: #333;
// }

::-webkit-scrollbar {
  width: 10px;
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #6200ff;
  border-radius: 1rem;
}

@font-face {
  font-family: "Agustina Regular";
  font-style: normal;
  font-weight: normal;
  src: local("Agustina Regular"),
    url("/public/fonts/Agustina.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: local("Montserrat"),
    url("/public/fonts/Montserrat-Regular.ttf") format("woff");
  font-display: swap;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

html,
body {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: 19px / 23px Montserrat, "Montserrat", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-size: calc(3rem + 2vmin);
  line-height: 1.1;
  color: var(--title);
}

p {
  font-size: calc(1rem + 1.4vmin);
  line-height: 40px;
  font-weight: 100;
  color: var(--subTitle);
  margin: 30px 0px;
}

ul li {
  //font-size: calc(0.8rem + 1vmin);
}

mat-card {
  font-size: 20px;
  line-height: 30px;
  font-weight: 100;
  margin: 30px 0px;
}

/* Media Query */
// @media (max-width: 1380px) {
//   html,
//   body {
//     font-size: rem;
//     //line-height: normal;
//   }
// }

@media (max-width: 1380px) {
  html,
  body {
    font-size: rem;
    //line-height: normal;
  }
}